body{
    padding: 15px;

}

header {
    text-align: center;
}

nav{
    display: flex;
    align-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

nav > div {
    flex: 1;
}

.links{
    text-align: center;
    display: flex;
}

.links > a{
    flex: 1;
}

.search{
    text-align: right;
}

#logoImage{
    max-width: 50px;
}
#companyName {
    display: inline;
}

.redwoodImage{
    max-width: 300px;
    padding-top: 10px;
}

form > label {
    display: block;
}